<!-- <div class="container">
<div id="questions">
  <h2>Question 01</h2>
  <ul>
    <li><button>Answer 01</button></li>
    <li><button>Answer 02</button></li>
    <li><button>Answer 03</button></li>
    <li><button>Answer 04</button></li>
  </ul>
</div>
</div> -->

<div class="container p-5">
  <div class="row">
    <div class="col-sm-8 offset-2">
      <div *ngIf="currentQuiz < 20">
        <p class="text-center">Question {{ currentQuiz +1 }} of {{ quizzes.length }}</p>
        <h1>{{ quizzes[randomize].question }}</h1>
        <p>
          Category: {{ quizzes[randomize].category }}
        </p>
        <ul class="list-group" *ngFor="let quiz of quizzes[randomize].answer">

          <li class="list-group-item" appBackground [correctAnswer]="quiz.correct">
            <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
            {{ quiz.option }}
          </li>
        </ul>
      </div>
      <div *ngIf="currentQuiz > 19">
        <button class="btn btn-success btn-block" (click)="showResult()">Show Result</button>
        <div *ngIf="result">
          <p>Correct Answers : {{ correctAnswers }} || Incorrect Answers : {{ incorrectAnswers }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
